
Project1/.vs/Project1/FileContentIndex/043f43c6-905e-437f-9820-20eaa17d7f53.vsidx
Project1/.vs/Project1/FileContentIndex/158e5088-f78f-4273-b746-ff9efbd5f09b.vsidx
Project1/.vs/Project1/FileContentIndex/5d408bfd-afcf-486f-af18-41505e3ad413.vsidx
Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj
Project1/Project1.sln
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/FileContentIndex/read.lock
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
Project1/.vs/Project1/FileContentIndex/17735487-66bb-4880-bf08-c30fcee311b8.vsidx
Project1/.vs/Project1/FileContentIndex/cfac6101-e340-43ae-bc57-8fd2f105489f.vsidx
Project1/.vs/Project1/v17/ipch/AutoPCH/ebddd463fdd2593e/MAIN.ipch
Project1/Project1/x64/Debug/Main.obj
Project1/Project1/x64/Debug/Project1.exe.recipe
Project1/Project1/x64/Debug/Project1.ilk
Project1/Project1/x64/Debug/Project1.log
Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/x64/Debug/vc143.idb
Project1/Project1/x64/Debug/vc143.pdb
Project1/x64/Debug/Project1.exe
Project1/x64/Debug/Project1.pdb
Project1/.vs/Project1/FileContentIndex/5b2563e2-e7ee-4ef8-bcfb-fe12f657dc41.vsidx
Project1/.vs/Project1/FileContentIndex/6eea6a99-3333-4f82-9c70-5f96e9b0daae.vsidx
Project1/.vs/Project1/FileContentIndex/74db9771-a40f-4de7-b748-6bfee36d1928.vsidx
Project1/.vs/Project1/FileContentIndex/d8ed5894-dd58-4d73-a1b4-23a19383e1f4.vsidx
Project1/.vs/Project1/v17/ipch/AutoPCH/7e7b429a2f027ad4/BRETT.ipch
Project1/Project1/x64/Debug/Brett.obj
Project1/Project1/x64/Debug/Project1.tlog/unsuccessfulbuild
.vs/cproject/FileContentIndex/a68cca15-4673-4944-a9f2-fcfd66e2e355.vsidx
.vs/cproject/FileContentIndex/read.lock
.vs/cproject/v17/.suo
.vs/cproject/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
