
Project1/.vs/Project1/FileContentIndex/043f43c6-905e-437f-9820-20eaa17d7f53.vsidx
Project1/.vs/Project1/FileContentIndex/158e5088-f78f-4273-b746-ff9efbd5f09b.vsidx
Project1/.vs/Project1/FileContentIndex/5d408bfd-afcf-486f-af18-41505e3ad413.vsidx
Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj
Project1/Project1.sln
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/FileContentIndex/read.lock
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
Project1/.vs/Project1/FileContentIndex/17735487-66bb-4880-bf08-c30fcee311b8.vsidx
Project1/.vs/Project1/FileContentIndex/cfac6101-e340-43ae-bc57-8fd2f105489f.vsidx
Project1/.vs/Project1/v17/ipch/AutoPCH/ebddd463fdd2593e/MAIN.ipch
Project1/Project1/x64/Debug/Main.obj
Project1/Project1/x64/Debug/Project1.exe.recipe
Project1/Project1/x64/Debug/Project1.ilk
Project1/Project1/x64/Debug/Project1.log
Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/x64/Debug/vc143.idb
Project1/Project1/x64/Debug/vc143.pdb
Project1/x64/Debug/Project1.exe
Project1/x64/Debug/Project1.pdb
